---
import Social from "./Social.astro";
---

<footer class="flex flex-col my-8 mx-auto w-max gap-4">
  <div class="text-sm flex flex-col gap-1 items-center">
    <span class=" ">
      © {2021} – {2023}
      {"⚪"}
      {"Author"} @ {"Site"}
    </span>
    <span></span>
    <span>Powered by <a href="https://astro.build/">Astro</a></span>
  </div>
</footer>
